/*
* @Author: Administrator
* @Date:   2017-03-16 16:06:43
* @Last Modified by:   Administrator
* @Last Modified time: 2017-03-17 14:55:28
*/

@media screen {
  body {
    text-align: center;
    padding: 100px;
  }
  button {
    width: 200px;
    font: 20px Courier;
    margin-top: 10px;
    border: solid 1px orange;
    background-color: white;
    color: orange;
    display: none;
  }
}